
## This is a compose file to define any integrations for our application. It is concatenated with the main docker-compose.yml file
## already created for our application. See tasks/start_orchestration.yml


version: '2.1'
services:
{% if svc_discovery is defined %}
  consul:
    image: "{{ consul_img | default(default_consul_img) }}"
    domainname: "consul.{{ oaas_domain | default(default_oaas_domain) }}"
    restart: always
    mem_limit: "{{ consul_resources | default(default_consul_resources) }}"
    ports:
      - 3128
      - 8301/udp
      - 8301/tcp
      - 8300/tcp
      - 8400
      - 8302/udp
      - 8302/tcp
      - 8500
{% if dns is defined %}
    dns: {{ dns }}
{% endif %}
    environment:
      - CONSUL={{ svc_discovery }}
    command: >
      /usr/local/bin/consul agent -server
        -bootstrap-expect 1
        -config-dir=/etc/consul
        -ui-dir /ui
{% endif %}